{% extends 'base.html.twig' %}

{% block title %}Media index{% endblock %}

{% block body %}
    <h1>Media index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nomdufichier</th>
                <th>Typedufichier</th>
                <th>Chemindufichier</th>
                <th>Uploadat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for medium in media %}
            <tr>
                <td>{{ medium.id }}</td>
                <td>{{ medium.nomdufichier }}</td>
                <td>{{ medium.typedufichier }}</td>
                <td>{{ medium.chemindufichier }}</td>
                <td>{{ medium.uploadat ? medium.uploadat|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_media_show', {'id': medium.id}) }}">show</a>
                    <a href="{{ path('app_media_edit', {'id': medium.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_media_new') }}">Create new</a>
{% endblock %}
